.Photos {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: black;
  /* overflow: x; */
}

.picture {
  height: 180px;
  width: 200px;
  width: 32%;
  min-width: 200px;
}

.Photos .one {
  background-image: url('../../assets/guys_laughing.jpeg');
  background-size: cover;
}

.Photos .two {
  background-image: url('../../assets/couples_laughing.jpeg');
  background-size: cover;
}

.Photos .three {
  background-image: url('../../assets/family_run.jpeg');
  background-size: cover;
}
