@import url('https://fonts.googleapis.com/css?family=Allerta');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

* {
  box-sizing: border-box;
  /* text-align: center; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Allerta', sans-serif;
}

p, li, ul {
  font-family: 'Crimson Text', Georgia, Times, serif;
  font-size: 18px;
  line-height: 25px;
}


@media screen and (max-width: 575px) {
  .Banner .top-bar nav{
    display: none;
  }
}

@media screen and (max-width: 375px) {
  h1, h2, h3 {
    font-size: 26px !important;
  }

  .Banner .red-cross {
    display: none;
  }

  .Description h3 {
    line-height: 25px !important;
  }

  .Sales {
    flex-direction: column;
    height: 400px !important;
  }

  .Sales .goal {
    width: 100%;
  }

  .Sales .purchase {
    width: 100%;
    margin-top: 30px;
  }
}
