.Sales {
  display: flex;
  height: 330px;
  text-align: center;
}

.Sales a {
  text-decoration: none;
}

.Sales .graph {
  height: 150px;
  width: 150px;
  background: url('../../assets/example_graph2.png');
  background-size: cover;
}

.Sales button {
  background: #00B16A;
  font-size: 30px;
  color: white;
  margin: 0 auto;
  padding: 10px;
  display: block;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px black;
}

.goal {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown {
  color: #D91E18;
}

.purchase {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purchase p {
  margin: 12px 0 0 0;
}
